html {
    width:100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}
html::-webkit-scrollbar {
    display: none;
}
body {
    margin-top:30px;
    height: auto;
}
*{
    margin: 0px;
    padding: 0px; 
    font-family: segoe ui light;
    box-sizing: border-box;
    height: auto;
}
#titleShown {
    -webkit-app-region: drag;
   }
#logo {
    width: 180%;
}
#btnUpload {
    background-color:#000000;
    color: white;
    padding: 4px 9px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 37px;
	display: none;
}
#container {
    width: 100%;
    height: 30px;
    display:block;
    position: absolute;
    top:0;
    left: 0;
   }
#savew {
    background-color: #8f1d21;
    color: white;
    padding: 4px 8px;
    margin: 0 27%;
    border: none;
    cursor: pointer;
    width: 50%;
   }
#container nav {
       display: block;
       width:100%;
       height: 30px;
       background-color: #333333;
   }
#container nav #titleShown {
    width: 80%;
    height: 100%;
    line-height: 30px;
    color:#f7f7f7;
    font-size: 1.2em;
    font-weight: bold;
    float: left;
    padding: 0 0 0 1em;
   }
#container nav #buttons {
    float: right;
    width: 150px;
    height: 100%;
    line-height: 30px;
    background-color: #222222;
   }
#buttons #minimize, #buttons #maximize, #buttons #close {
    float: left;
    height: 100%;
    width: 33%;
    text-align: center;
    color: #f7f7f7;
    cursor: default;
   }

#buttons #close:hover {
    background-color: #8f1d21;
}
#downUpload {
    width:130px;
    /* height: 5px; */
    display: inline-block;
    top: -9px;
	display: none;
}
.col-container {
    position: fixed;
    display: flex;
    width: 100%;   
    height: 100%;
    /* background-image:url('../images/slider-avxchange-movies-min.jpg'); */
    background-size: cover;
  }
.col {
    flex: 2;
    color: white;
    padding: 0 15%;
  }
#loginAVX {
    padding: 30px;
  }
a {
    color: rgb(255, 255, 255);
}
a:hover {
    color: #8f1d21;
}

.col img {
    width: 30%;
    height: auto;
    margin-top: 5%;
    opacity: 1;
}
#back {
    margin-left: 20px;
    margin-top: 10%;
}
@media screen and (max-width: 600px) {
    img {
        min-width: 80px;
        min-height: auto;
    }
}
p {
    text-align: center;
}
.login {
    padding: 0px;
    color: white;
    left: 50%;
    margin:15% 20% 10% 20%;
   /* padding: 24% 0;*/
}
.signup {
    color: white;
    left: 50%;
    margin:auto;
    padding: 10% 0;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 20%; margin-right: 20%;
}
.welcome {
    text-align: left;
    width: 35%;
    margin: 25% 0 0 15%;
}
.welcome p {
    overflow: auto;
    padding-top: 20px;

}
#tagline {
    overflow: auto;
    text-align: justify;
    width: 100%;

}
.tagg {
    width: 60%;
    margin-left: 15%;
    margin-right: 20%;
}
input[type=text], input[type=password] {
    color:#929292;
    padding: 10px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    font-size: 18px;   
    border:none;
    background: transparent;
    text-align: left;
    outline: none;
    border-bottom: 1px solid #353535;
    width: 100%;
    margin-bottom: 5%;
    font-weight: 500;
}
form {
    border: 3px solid #000000;
}
span.psw { 
    float: right;
}
#walletUpload {
    display: none;
}
button {
    background-color: #8f1d21;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 0px !important;
    
} 
#btnSavedWallets {
    background-color: #000000;
    color: white;
}
#foots {
    font-size: 14px;
    padding: 1% 0;
    width: 100%;
    
}

#downwallet {
    margin-left: 10%;
    margin-right: 40%;
}

.crt-wallet{
    color: #fec136;
    margin-left: 2%;

}
.avx-signin{
    color: #fec136;
    margin-left: 2%;
}
.avx-footer{
    text-align: center;
    margin-top: 5%;
}

@media screen and (max-width: 300px) {
    span.psw {
   display: block;
   float: none;
    }
}
@media screen and (min-width: 960px) and (max-width: 991px) {
    #btnSavedWallets {
        width: 210%;
    }
}
@media screen and (min-width: 850px) and (max-width: 959px) {
    #btnSavedWallets {
        width: 185%;
    }
}
@media screen and (min-width: 1050px) {
    #btnSavedWallets {
        width: 115%;
    }
}
.disabled {
    background-color: #913d40be;
}
.avx-footer{
    text-align: center;
}

#btnSignup{
    margin-top: 10%;
}
.avx-signup{
    font-size:52px;
    
}






@media (min-width: 2070px){
        .login{
        margin: 15% 35% 10% 35%;
         }
         .signup{
        margin: 0% 35% 0% 35%;
         }
}
@media (min-width: 1700px) and (max-width: 2069px) {
      .login{
        margin: 15% 30% 10% 30%;
        }
          .signup{
        margin: 0% 30% 0% 30%;
         }
}
@media (min-width: 1400px) and (max-width: 1699px) {
          .login{
        margin: 15% 25% 10% 25%;
         }
           .signup{
        margin: 0% 25% 0% 25%;
         }

}


@media (min-width: 1240px) and (max-width: 1399px){
    .login{
        margin: 15% 25% 10% 25%;
        }
          .signup{
        margin: 0% 25% 0% 25%;
         }
    
}
@media (min-width: 1160px) and (max-width: 1239px){
      


 }
@media (min-width: 1080px) and (max-width: 1159px) {
   
}
@media (min-width: 991px) and (max-width: 1079px) {

    

}
@media (min-width: 720px) and (max-width: 990px) {
  
   .login {
    margin: 15% 10% 10% 10%;
    }
    .signup{
      margin: 0 0 ;
  }
  .signup{
      margin: 0 10% ;
  }

}
@media (min-width: 680px) and (max-width: 719px) {
    
     .login {
    margin: 15% 10% 10% 10%;
    }
    .signup{
      margin: 0 0 ;
  }

}
@media (min-width: 650px) and (max-width: 679px) {
  
    .login {
    margin: 15% 10% 10% 10%;
    }
    .signup{
      margin: 0 0 ;
  }
   

}
@media (min-width: 600px) and (max-width: 649px) {
    
     .login {
    margin: 15% 10% 10% 10%;
    }
    .signup{
      margin: 0 0 ;
  }
    

}
@media (min-width: 570px) and (max-width: 599px) {
    .login{
        margin: 15% 5% 10% 5%;
  }
   .signup{
      margin: 0 0 ;
  }

   
}
